.Detail-block{
    width: 100%;
    height: 100%;
    min-height: 700px;
    padding: 30px 100px;
    box-sizing: border-box;
    background: -webkit-linear-gradient(left top, #D02090 , #9B30FF); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right,  #D02090 , #9B30FF); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right, #D02090 , #9B30FF);
    background: linear-gradient(to bottom right, #D02090 , #9B30FF);
    .detail-title-block{
        color: #fff;
        font-size: 32px;
        padding: 30px 100px;
        margin: auto;
        text-align: center;
    }
    .detail-content-block{
        min-height: 560px;
        padding: 30px 70px;
        background: #fff;
        margin: auto;
        box-sizing: border-box;
        border-radius: 10px;
        .detail-comment-block{
           margin-top: 50px;
           padding-top: 10px;
           border-top: 1px solid #9B30FF;
           color: #7d7d7d;
        }
    }
}
.detail-comment-block{
    .detail-write-comment-block{
        margin: 10px 0;
        height: 120px;
        border: 2px solid #DDDDDB;
        .detail-comment-write{
            display: block;
            padding: 3px 5px;
            box-sizing: border-box;
            width: 100%;
            height: 80px;
            border: none;
            outline:none;
            resize: none;
        }
        .detail-comment-add-other{
            height: 40px;
            border-top:1px solid #DDDDDB;
        }
    }
}
.detail-comment-add-other{
    .comment-add-other-block{
        width: 200px;
        height: inherit;
        float: left;
        span{
            width: 50px;
            height: inherit;
            display: inline-block;
            background: url(../../images/upload+face-img.png);
            background-size: 75%;
            background-repeat: no-repeat;
            text-align: center;
            cursor: pointer;
        }
        .add-other-img{
            background-position: 5px -36px;
        }
        .add-other-img:hover{
            background-position: 5px 2px;
        }
        .add-other-faceIcon{
            background-position: 5px -112px;
        }
        .add-other-faceIcon:hover{
            background-position: 5px -74px;
        }
    }
    .comment-add-publish{
        width: 80px;
        height: 30px;
        float: right;
        overflow: hidden;
        border: 1px solid #DDDDDB;
        margin: 4px 5px;
        border-radius: 25px;
        span{
            height: inherit;
            display: block;
            text-align: center;
            cursor: pointer;
            float: left;
        }
        .add-publish-icon{
            width: 35px;
            background: url(../../images/img-detail-comment.png);
            background-size: 68%;
            background-repeat: no-repeat;
            background-position: 5px -93px;
        }
        .add-publish-icon:hover{
            background-position: 5px -69px;
        }
        .add-publish-btn{
            line-height: 30px;
            width: 45px;
        }
        .add-publish-btn:hover{
            color: #1296db;
        }
    }
}