.home-block{
    width:100%;
    height: auto;
}
.nav-block{
    width: 80%;
    height: 48px;
    margin:auto;
    margin-top:40px;
    background: #fff;
}
.main-block{
    width: 80%;
    height: auto;
    background: #fff;
    margin:auto;
    margin-bottom: 30px;
    padding-top:15px;
}